*{
	margin:0;
	padding: 0;
	border:0;
}
.cart-table{
	width: 600px;
	margin:0 auto;
	position: absolute;
	left:50%;
	margin-left: -300px;
	top: 35%;
}
.table-top{
	color: #fff;
	height: 30px;
	font-weight: bold;
}
.images{
	width: 50px;
	height: 50px;
}
input[type="text"]{
	border : 1px solid #00A65A;

}
.total-nums,.total-price,.totals >span:first-child{
	color:red;
	font-weight: bold;
}
.add,.reduce{
	font-size: 20px;
	font-weight: bold;
	color: red;
}
.checks{
	color: #fff;
	font-weight: bold;
	padding: 5px 20px;
	display: inline-block;
	background-color: red;
	border-color: red;
	border-radius: 4px;
	float: right;
}
.title span{
	display: block;
	width: 100px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	float: left;
	color:#fff;
}
.active{
	background-color: #F10215;
}
.no-active{
	background-color: #7A6E6E;
}
.body{
	width: 200px;
	height: 200px;
	overflow: hidden;
	clear:both;
}
.body > div{
	width: 196px;
	height: 196px;
	border:2px solid red;
}
.children-test > span:last-child{
	color: red;
}
.children-test > span:first-child{
	color: green;
	font-size: 20px;
	font-weight: bold;
}
#rotate{
	display: block;
	width: 100px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	color: #fff;
	background-color: #F10215;
}
[title]{
	color: yellow;
}
.brother + span{
	font-size: 30px;
	font-weight: bold;
	color:green;
}
.btn{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	outline: none;
	font-weight: bold;
	
}
.btn-success {
	background-color: #00A65A;
	border-color: #00A65A;
}
.center-block{
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	background-color: red;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -100px;
}